*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #ffffff;
  color: #000000;
  justify-content: center;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  padding: 5px 10px;
}
body {
  margin: 0;
  padding: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  color: #000;
}
.navsection{
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background-color: #f9fafb;
  text-align: center;
}

.image {
  width: 150px;
  object-fit: cover;
  float: right;
  height: auto;
}

img{
  border-radius: 3px;
  width: 100px;
  float: right;
  margin-left: 10px;
  height: auto;
}

.btn {
  margin-top: 2px;
  padding: 2px 2px;
  background-color: #ef4444;
  color: white;
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
}

/* recent post section */

.recentpost{
  padding: 2px 2px;
  background: #e5f1fb;
}
.recentheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #e5f1fb;
}
.viewall{
  background: #e5f1fb;
}
.recentcontainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  flex: 1;
  /* min-width: 250px; */
  background: #fff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.featured-works {
  padding: 2px;
  text-align: center;
  width: 100%;
  /* max-width: 900px; */
}

.workcontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.workcard {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  background: #ffffff;
  padding: 0;
  width: 100%;
  text-align: left;
}

.workcard img {
  width: 200px;
  border-radius: 0px;
  height: auto;
}

/* .work-card-content {
  flex: 1;
  order: 1;
} */

.footer {
  text-align: center;
  padding: 2px;
  background: #ffffff;
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-direction: column;
}

.social-icons {
  margin-bottom: 0px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-icons img {
  width: 10px;
  height: 10px;
}
